.headerHome {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 38rem;
  border-bottom: 0.5rem solid rgb(59, 57, 57);
}

.headerHomeLight {
  background-image: linear-gradient(to top, #212529, 5%, transparent),
    linear-gradient(to bottom, #212529 1%, 5%, transparent),
    url(./images/imagen1.jpg);
}

.headerHomeDark {
  background-image: linear-gradient(to top, #212529, 20%, transparent),
    linear-gradient(to bottom, #212529 2%, 15%, transparent),
    url(./images/imagen1.jpg);
}

.headerText {
  font-family: "Sigmar";
  padding: 0.2rem 0;
  font-size: 1.7rem;
}

.contentText {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerTitle {
  font-size: 2.5rem;
  font-family: "Sigmar";
  color: #26dbc9;
}

.headerSubtitle {
  font-size: 1.5rem;
  color: #ffffff;
}

.relative {
  position: relative;
}

.cardToLight {
  transition: transform 0.3s ease;

}
.cardToLight:hover {
  background-color: #ffffff;
  background-image: linear-gradient(
    90deg,
    #ffffff 0%,
    #ffffff 20%,
    #26dbc9 80%,
    #ffffff 90%
  );

  transform: scale(1.02);
}

.cardToDark {
  border: 1px solid rgb(40, 39, 39);
  background-color: #30363e;
  transition: transform 0.3s ease;
}
.cardToDark:hover {
  background-color: #30363e;
  background-image: linear-gradient(
    90deg,
    #30363e 0%,
    #30363e 20%,
    #276440 80%,
    #30363e 90%
  );

  transform: scale(1.02);
}

.textBody {
  font-size: 1.5rem;
}


@media (min-width: 768px) and (max-width: 991px) {
  .headerHome {
    height: 90vh;
  }
  .headerTitle {
    font-size: 4rem;
    font-family: "Sigmar";
    color: #26dbc9;
  }

  .contentText {
    font-size: 1rem;
  }

  .headerSubtitle {
    font-size: 3rem;
    color: #ffffff;
  }

  .textBody {
    font-size: 2.6rem;
  }
}

@media (min-width: 992px) and (max-width: 3000px) {
  .headerHome {
    height: 90vh;
  }
  .headerTitle {
    font-size: 5.5rem;
    font-family: "Sigmar";
    color: #26dbc9;
  }

  .headerSubtitle {
    font-size: 4rem;
    color: #ffffff;
  }

  .headerText {
    font-size: 2.3rem;
  }

  .textBody {
    font-size: 4rem;
  }
}

@media (min-width: 3001px) {
  .headerHome {
    height: 100vh;
  }
  .headerTitle {
    font-size: 8rem;
    font-family: "Sigmar";
    color: #26dbc9;
  }

  .headerSubtitle {
    font-size: 6.5rem;
    color: #ffffff;
  }

  .headerText {
    font-size: 3rem;
  }
  .textBody {
    font-size: 4rem;
  }
}
