.headerZoo {
  color: rgb(3, 192, 183);
  width: 100%;
  height: 13rem;
}

.title {
  font-family: "Sigmar";
  font-size: 2rem;
}

.subTitle {
  font-family: "Sigmar";
  font-size: 1.5rem;
}

.imgResponsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardArea {
  height: 10rem;
}

.shadowCardLight {
  box-shadow: 0 0rem 1rem 0.3rem rgb(0, 71, 171);
}

.shadowCardDark {
  box-shadow: 0 0rem 1rem 0.3rem rgb(255, 255, 153);
}

.shadowSubtitleLight {
  box-shadow: 0 0rem 1rem 0.3rem rgb(255, 165, 0);
}

.shadowSubtitleDark {
  box-shadow: 0 0rem 1rem 0.3rem rgb(173, 216, 230);
}


@media (min-width: 768px) and (max-width: 991px) {
  .headerZoo {
    height: 25rem;
  }
  .title {
    font-size: 4rem;
  }
  .subTitle {
    font-size: 2.8rem;
  }
}

@media (min-width: 992px) and (max-width: 3000px) {
  .headerZoo {
    height: 90vh;
  }

  .title {
    font-size: 6rem;
  }
  .subTitle {
    font-size: 4.5rem;
  }
  .cardArea {
    height: 13rem;
  }
}

@media (min-width: 3001px) {
  .headerZoo {
    height: 90rem;
  }
  .title {
    font-size: 7rem;
  }
  .subTitle {
    font-size: 5rem;
  }
}
