.headerZoologico {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 38rem;
  border-bottom: 0.5rem solid rgb(59, 57, 57);
}

.headerZoologicoLight {
  background-image: linear-gradient(to top, #212529, 5%, transparent),
  linear-gradient(to bottom, #212529 1%, 5%, transparent),
    url(./images/Imagen1.jpg);
}

.headerZoologicoDark {
  background-image: linear-gradient(to top, #212529, 20%, transparent),
  linear-gradient(to bottom, #212529 2%, 15%, transparent),
    url(./images/Imagen1.jpg);
}

.title {
  font-family: "Sigmar";
  font-size: 2rem;
}

.subTitle {
  font-family: "Sigmar";
  font-size: 1.5rem;
}

.imgResponsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardArea {
  height: 10rem;
}

.shadowSubtitleLight {
  box-shadow: 0 0rem 1rem 0.3rem rgb(100, 100, 0);
}

.shadowSubtitleDark {
  box-shadow: 0 0rem 1rem 0.3rem rgb(173, 216, 230);
}

.shadowCardLight {
  box-shadow: 0 0rem 1rem 0.3rem rgb(0, 48, 46);
}

.shadowCardDark {
  box-shadow: 0 0rem 1rem 0.3rem rgb(255, 255, 155);
}

@media (min-width: 768px) and (max-width: 991px) {
  .headerZoologico {
    height: 90vh;
  }
  .title {
    font-size: 4rem;
  }
  .subTitle {
    font-size: 2.8rem;
  }
}

@media (min-width: 992px) and (max-width: 3000px) {
  .headerZoologico {
    height: 90vh;
  }

  .title {
    font-size: 6rem;
  }
  .subTitle {
    font-size: 4.5rem;
  }
  .cardArea {
    height: 13rem;
  }
}

@media (min-width: 3001px) {
  .headerZoologico {
    height: 70vh;
  }
  .title {
    font-size: 7rem;
  }
  .subTitle {
    font-size: 5rem;
  }
}
